@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background:  #111 url('../imgs/body-bg.jpg') center center/cover;
    background-blend-mode: overlay;
    color: #ddd;
}

a{
    text-decoration: none;
    color:#fff
}

a:hover {
    color : #10D1B6
}

.container
{   width: 90%;
    margin: 0px auto;
}

.l-heading {
    font-size: 3.5rem;
    margin: 0.75rem 0rem;
}

.m-heading {
    font-size: 2.5rem;
    margin: 0.65rem 0rem;
}

.s-heading {
    font-size : 1.8rem;
    margin: 0.55rem 0rem;
}

.spl-text {
    color: #10D1B6;
}

.dark-text {
    color:#777
}

.text-warning {
    color:red
}

input {

    outline: none;
    padding: 0.9rem 0.2rem;
    font-size: 1.2rem;
    background: none;
    border: none;
}

.btn {
    border: none;
    padding: 0.75rem 2rem;
    cursor: pointer;
    margin: 0.5rem 0.5rem;
}

.btn-dark {
    background: #333;
    color: #eee;
}

.btn-dark:hover{
    background:#06C4DB;
    color: #fff;
}

.link-span:hover {
    color:#06C4DB;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.hide {
    display: none;
}

.flex-col-container
{display: flex;
flex-direction: column;
padding: 1rem;
align-items: center;
}
/*  ----------- LOGIN PAGE---------------------------------- */

.login-page {
    height: 100vh;
    background:#111 url('../imgs/bg-login.jpeg') no-repeat center center/cover;
    background-blend-mode: overlay;
    color: #ddd;

}

.login-page .container {
    padding-top: 6rem;
}

.login-page .login-box {
    width: 40%;
    margin: auto;
    padding: 3rem 0rem;
}





.login-page .flex-col-container .flex-col-items {

    margin:1rem 0rem;
    width: 100%;
}

.login-page input {
    border-bottom: 1.5px solid #7FC921;
    /* border-radius: 15px */
    color: #fff;
}

.login-page input:focus{
    border-color: #06C4DB;
}

.login-page .btn-flexbox {
    width : 100%;
    display: flex;
}

.login-page .btn-flexbox .btn {

    margin: 1rem;
}


/* ---------------VOTE PANEL---------------- */

.vote-panel  .lang-item{
    display: flex;
    border: 2px solid #222;
    padding: 3re;
    width: 60%;
    padding: 0.5rem 3rem;
    margin: 0.5rem 0rem;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.vote-panel #java:hover {
    background: #333 url('../imgs/java.jpeg') no-repeat center center/cover;
    background-blend-mode: overlay;
}


.vote-panel #php:hover {
    background: #333 url('../imgs/php.jpeg') no-repeat center center/cover;
    background-blend-mode: overlay;
}
.vote-panel #dotnet:hover {
    background: #333 url('../imgs/dotnet.jpeg') no-repeat center center/cover;
    background-blend-mode: overlay;
}
.vote-panel #c:hover {
    background: #333 url('../imgs/c.jpeg') no-repeat center center/cover;
    background-blend-mode: overlay;
}
.vote-panel #javascript:hover {
    background: #333 url('../imgs/js.jpg') no-repeat center center/cover;
    background-blend-mode: overlay;
}


/*  VOTE RESULT */

.vote-result {    padding: 3rem;}

.vote-result .box-result    {
    width: 75%;
    text-align: left;
    border: 2px solid #444;
    padding: 1rem 2rem;
    border-radius: 8px;
    box-shadow: 3px 4px 11px 1px #333;
    margin:0.5rem 0rem

}

.vote-result .progress-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress {
    border: 1px solid #333;
    padding: 2px;
    border-radius: 27px;
    height: 10px;
}

.progress-box #java {
    background: #09ABE8;
}

.progress-box #php {
    background: #09E882;
}

.progress-box #dotnet {
    background: #E809E1;
}

.progress-box #c {
    background: #0D9BF2;
}

.progress-box #javascript {
    background: #F2E10D;
}


/* HOC Menu */

.menu {
    position: absolute;
    margin: 1rem;
    padding: 0.5rem;
}

.menu button {
    padding: 1rem 1.5rem;
    border-radius: 50%;
    background: #222;
    opacity: 0.8;
    color: #06EB64;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    border:none
}

.menu .menu-dropdown{
    padding: 0.5rem 0.5rem;
    margin: 1rem 0rem;
    border: 1px solid #555;
    border-radius: 8px;
    width: 200px;
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.menu .menu-list {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0rem;
    width: auto;
    border-top: 1px solid #333;
    align-items: center;
    margin: 0.5rem 0rem;
    
}

@keyframes fadein {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.menu-list:first-child {
    border-top: none;
}